/Biblioteca_Crenças
/Thamara_A.txt
/Thamara_C.E.txt
/Thamara_pai_crença.txt
/centralidade_graph.html
/crencas.py
/crença01.txt
/dijkstra_path_graph.html
/graph_compatibility.html
/ngram.py
/user_graph.json